@import url("https://fonts.cdnfonts.com/css/valorant");

.app__header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 0, 0, 0.24));
  box-shadow:0px 0px 15px rgb(255, 0, 85);
  backdrop-filter: blur(30px);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__title {
  color: rgb(255, 0, 85);
  font-family: "VALORANT", sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-top: 10px;
}
